@import '../../../scss/index.scss';

.select__field {
    border: none;
    width: 100%;
    background: transparent;
    cursor: pointer;
    text-overflow: ellipsis;

    &:focus {
        outline: 0;
    }
}
