@import '../../../scss/index.scss';

.screen-wrapper {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: calc(100vh - 3em - #{$header-height} - #{$footer-height});
    min-height: 500px;
}

.screen {
    margin: 0 16px;
    width: calc(100% - 32px);

    @include mq($from: tablet) {
        margin: 0 32px;
        width: calc(100% - 64px);
    }

    @include mq($from: desk) {
        margin: 0 auto;
    }

    max-width: 1240px;
}
